{% extends "base.twig" %}

{% block css %}
<link href="{{ assets['admin'] }}assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ assets['admin'] }}assets/data-tables/DT_bootstrap.css" />
{% endblock %}

{% block content %}
<section class="wrapper">
    <!-- page start-->
    <div class="row">
        <aside class="profile-nav col-lg-3">
            <section class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="{% if user[1]['path']==""%}
                                    /assets/flatlab/img/no_image.jpg
                                  {% else %}
                                    {{ user[1]['path'] }}
                                  {% endif %}
                             " alt="">
                    </a>
                    <h1>{{user[0]['firstname']}} {{user[0]['lastname']}}</h1>
                    <p>{{user[0]['email']}}</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/admin/user/profile"> <i class="fa fa-user"></i>{{lang.profile}}</a></li>
                    <li><a href="/admin/user/edit/{{user[0]['id']}}"> <i class="fa fa-edit"></i>{{lang.editProfile}}</a></li>
                </ul>

            </section>
        </aside>
        <aside class="profile-info col-lg-9">
            
            <section class="panel">
                <div class="bio-graph-heading">
                    {{lang.hello}}
                </div>
                <div class="panel-body bio-graph-info">
                    <h1>{{lang.profile}}</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>{{lang.firstname}}: </span> {{user[0]['firstname']}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.lastname}}: </span> {{user[0]['lastname']}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.cityLiving}}: </span> {{user[0]['cityLiving']}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.birthday}}: </span> {{ birthday }}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.gender}}: </span> {{user[0]['gender']}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.email}}: </span> <a href="mailto:{{user[0]['email']}}">{{user[0]['email']}}</a></p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.phone}}:</span> {{user[0]['phone']}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>{{lang.website}}: </span> <a href="{{user[0]['website']}}" target="_blank">{{user[0]['website']}}</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>

    <!-- page end-->
</section>
{% endblock %}


{% block javascripts %}
{% endblock %}