<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
       <li>
            <a href="/admin" id="dashboard">
                <i class="fa fa-dashboard"></i>
                <span>{{lang.dashboard}}</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="mod">
                <i class="fa fa-laptop"></i>
                <span>Модуль</span>
            </a>
            <ul class="sub">
                <li class="modUser"><a  href="admin/user">{{lang.user}}</a></li>
                <li class="modCat"><a  href="admin/category">Ангилал</a></li>
                <li class="modContent"><a  href="admin/content">{{ lang.content }}</a></li>
                <li class="modComment"><a  href="admin/comment">{{lang.postComment}}</a></li>
                <li class="modGallery"><a  href="admin/photo" >{{lang.gallery}}</a></li>
                <li class="modVote"><a  href="admin/survey" >{{lang.survey}}</a></li>
            </ul>
        </li>
        <li>
            <a  href="inbox.html">
                <i class="fa fa-envelope"></i>
                <span>{{lang.electronMail}} </span>
                <span class="label label-danger pull-right mail-info">9</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span>Нэмэлт хэрэгсэл</span>
            </a>
            <ul class="sub">
                <li><a  href="admin/toolslist">Жагсаалт</a></li>
                <li><a  href="admin/calendar">Calendar</a></li>
                <li><a  href="admin/gallery">Gallery</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="fa fa-th"></i>
                <span>Объект</span>
            </a>
            <ul class="sub">
                <li><a  href="basic_table.html">Объект</a></li>
                <li ><a  href="responsive_table.html">Тохируулга</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="menuSettings">
                <i class="fa fa-th"></i>
                <span>Тохиргоо</span>
            </a>
            <ul class="sub">
                <li class="menuSettingsCurrency"><a  href="admin/currency">Мөнгөний нэгж</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" >
                <i class=" fa fa-bar-chart-o"></i>
                <span>Бусад</span>
            </a>
            <ul class="sub">
                <li><a  href="morris.html">Мэдээлэл</a></li>
                <li><a  href="chartjs.html">Лог</a></li>
                <li><a  href="flot_chart.html">Flot Charts</a></li>
                <li><a  href="xchart.html">xChart</a></li>
            </ul>
        </li>
        <!--multi level menu end-->
    </ul>
    <!-- sidebar menu end-->
</div>
