{% extends "base.twig" %}

{% block title %}{{ lang.editCategory }}{% endblock %}

{% block css %}
<link href="{{ assets['admin'] }}assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
<link href="{{ assets['admin'] }}assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ assets['admin'] }}assets/data-tables/DT_bootstrap.css" />
{% endblock %}

{% block content %}

<section class="wrapper">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-7">
            <section class="panel">
                <header class="panel-heading">
                             {{ lang.editCategory }}
                </header>
                <div class="panel-body">
                    <form class="form-horizontal" name="category" role="form" method="POST" action="/admin/category/edit">
                        <div class="form-group">
                            <label for="name" class="col-lg-3 col-sm-3 control-label">{{ lang.name}}</label>
                            <div class="col-lg-9">
                                <input type="text" name="name" class="form-control" id="name" value="{{ cat.name}}" required>
                                <input type="hidden" name="editId" value="{{cat.id}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="slug" class="col-lg-3 col-sm-3 control-label">{{ lang.slug }}</label>

                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="slug" name="slug" value="{{ cat.slug }}"
                                       placeholder="{{ lang.slug }}" minlength="3" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parent_id" class="col-lg-3 col-sm-3 control-label">{{ lang.parentCategory }}</label>
                            <div class="col-lg-9">
                                <select name="parent_id" id="parent_id" class="form-control" selected="active" placeholder="{{ lang.parentCategory }}">
                                    <option value="">{{lang.root}}</option>
                                        {% for aCategory in allCategories %}
                                    <option value="{{aCategory["id"]}}" {% if aCategory["id"]==cat.parentId %} selected {% endif %}>{{aCategory["name"]}}</option>
                                        {% endfor %}
                                </select>
                                <p class="help-block">{{ lang.parentCategoryDesc }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="per_page" class="col-lg-3 col-sm-3 control-label">{{ lang.perPage }}</label>

                            <div class="col-lg-9">
                                <input type="number" class="form-control" id="per_page" name="per_page" value="{{ cat.perPage }}"
                                       placeholder="{{ lang.perPage }}" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="view_type" class="col-lg-3 col-sm-3 control-label">{{ lang.viewType }}</label>

                            <div class="col-lg-9">
                                <select name="view_type" id="view_type" class="form-control" selected="{{ cat.viewType }}"
                                        placeholder="{{ lang.viewType }}">
                                    <option value="list">{{ lang.list }}</option>
                                    <option value="grid">{{ lang.grid }}</option>
                                    <option value="listText">{{ lang.listText }}</option>
                                    <option value="blank">{{ lang.blank }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="parent_id" class="col-lg-3 col-sm-3 control-label">{{ lang.status }}</label>
                            <div class="col-lg-9">
                                <select name="st" id="st" class="form-control" selected="active" placeholder="{{ lang.status }}">
                                    <option value="inactive" {% if cat.st=="inactive" %} selected {% endif %}>{{ lang.inactive }}</option>
                                    <option value="active" {% if cat.st=="active" %} selected {% endif %}>{{ lang.active }}</option>
                                    <option value="pending" {% if cat.st=="pending" %} selected {% endif %}>{{ lang.pending }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <div class="checkbox">
                                    <label>
                                        <input name="is_adult" type="checkbox" {% if cat.isAdult==1 %} checked {% endif %}> {{ lang.isAdult }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <div class="checkbox">
                                    <label>
                                        <input name="is_external" id="is_external" type="checkbox" {% if cat.isExternal==1 %} checked {% endif %} onclick="showMe()"> {{ lang.isExternal }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="external_elements" style="display: none;">
                            <div class="form-group">
                                <label for="element_external_url" class="col-lg-3 col-sm-3 control-label">
                                    {{ lang.elementExternalUrl }}
                                </label>

                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="element_external_url" id="element_external_url" value="{{ cat.externalUrl }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="target" class="col-lg-3 col-sm-3 control-label">{{ lang.target }}</label>
                                <div class="col-lg-9">
                                    <select name="target" id="target" class="form-control" selected="active" placeholder="{{ lang.target }}">
                                        <option value="_blank" {% if cat.target=="_blank" %} selected {% endif %}>_blank</option>
                                        <option value="_self" {% if cat.target=="_self" %} selected {% endif %}>_self</option>
                                        <option value="_parent" {% if cat.target=="_parent" %} selected {% endif %}>_parent</option>
                                        <option value="_top" {% if cat.target=="_top" %} selected {% endif %}>_top</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="module" class="col-lg-3 col-sm-3 control-label">{{ lang.module }}</label>
                            <div class="col-lg-9">
                                <select name="module" id="module" class="form-control" selected="active" placeholder="{{ lang.module }}">
                                        {% for aModule in allModules %}
                                    <option value="{{aModule["id"]}}" {% if cat.module==aModule["id"] %} selected {% endif %}>{{aModule["name"]}}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="icon" class="col-lg-3 col-sm-3 control-label">{{ lang.icon }}</label>
                            <div class="col-lg-9">
                                <input type="text" name="catIcon" id="icon" class="form-control" selected="active" value="{{ cat.icon }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-3 col-lg-9">
                                <button type="submit" class="btn btn-success">{{ lang.save }}</button>
                                <a href="admin/category" type="button" class="btn btn-default">{{ lang.cancel }}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        </div>
        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                              {{ lang.help }}
                </header>
                <div class="panel-body">
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

{% endblock %}
{% block javascripts %}
<script>
    jQuery(".mod").addClass("active");
    jQuery(".modCat").addClass("active");

    showMe();
    
    function showMe()
    {
        var optionIndex = document.getElementById("is_external");

        if (optionIndex.checked == true) {
            document.getElementById('external_elements').setAttribute("style", "");
        }
        else {
            document.getElementById('external_elements').setAttribute("style", "display: none;");
        }

    }

</script>
</script>
{% endblock %}